body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(106, 37, 181);
}

.gridbox{
    background-color: black;
    min-height: 300px;
    min-width: 300px;
    max-width: 300px;
    max-height: 300px;
    display: flex;

}
